#mainVBox .button {
    -fx-background-color: #22577A;
    -fx-text-fill: white;
    -fx-border-width: 0;
}

#mainVBox .button:hover {
    -fx-border-color: white; /* Add a white border on hover */
    -fx-border-width: 2px; /* Set border width on hover */
}